body {
    background-color: #f4f4f4;
}

.white-container {
    $bodyWidth: 1208px;
    $sideWidth: 188px;
    $paHeight: 71px;
    $mt: 24px;
    $radius: 5px;
    $divideColor: #e9e9e9;
    /* just have a test */
    padding-top: $mt;
    padding-bottom: 22px;
    width: $bodyWidth;
    margin: 40px auto;
    background-color: #ffffff;
    border-radius: $radius;
    .content {
        float: left;
        width: $bodyWidth - $sideWidth - 1px;
        min-height: 500px;
        border-left: 1px solid $divideColor;
    }
    .paging {
        float: right;
        width: $bodyWidth - $sideWidth - 1px;
        height: $paHeight;
        border-top: 1px solid $divideColor;
        border-left: 1px solid $divideColor;
    }
    .btpaging {
        width: 1157px;
        height: 100px;
        margin: auto;
        border-top: 1px solid #e9e9e9;
    }
    &:after {
        content: '';
        display: block;
        clear: both;
        height: 0;
        visibility: hidden;
    }
}