@import '../common.scss';

.pagebar{
	font-size: $text-small;
	color: $text-color;
	margin: 21.5px 23px 21.5px 370px;
	.pagenumItem{
		border: 1px solid $border-grey;	
		border-radius: 3px;
	}
	li {
		float: left;
		width: 26px;
		height: 26px;
		text-align: center;
		line-height: 26px;
		margin-right: 10px;
		background-color: white;
		cursor: pointer;
	}
	.pageActive {
		background-color: #108ee9;
		color: white;
	}
	.disable {
		color: $border-grey;
	}
	select {
		width: 82px;
		height: 28px;
		margin: 0 16px 0 7px;
		padding-left: 10px;
		appearance: none;
  		-moz-appearance:none;
  		-webkit-appearance:none;
		color: $text-color;
        background: url("../../../build/images/angle-down.png") no-repeat scroll right center transparent;;
        background-size: 12px 7px;
        padding-right: 10px;
        background-origin: content-box;
		background-color: white; 
		/*下拉箭头*/
	}
	input {
		height: 25px;
		width: 21px;
		margin: 0 10px;
		padding: 0 12px;
		line-height: 25px;
		color: $text-color;
	}
}